<html>
	<head>
		<title>priority to-do</title>
	</head>
	<body>
		<h1>Your priority to-do list</h1>
		<form method="POST" action="/">
			<input name="item_text" id="id_new_item_text" placeholder="Enter a to-do item" />
			<select name="item_priority" id="id_new_item_priority" placeholder="Enter its priority">
				<option value="prioridade baixa">prioridade baixa</option>
				<option value="prioridade média">prioridade média</option>
				<option value="prioridade alta">prioridade alta</option>
			</select>
			<input type="submit" id="id_add_new_item" value="Add">
			{% csrf_token %}
		</form>
		<table id="id_list_table">
			{% for item in items %}
			<tr><td>{{ forloop.counter }} - {{ item.text }} - {{ item.priority }}</td></tr>
			{% endfor %}
		</table>
	</body>
</html>